doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title User Registration
    body 
    link(href='//db.onlinewebfonts.com/c/a4e256ed67403c6ad5d43937ed48a77b?family=Core+Sans+N+W01+35+Light' rel='stylesheet' type='text/css')
link(rel='stylesheet' href='./public/main.css' type='text/css')
.body-content
    .module
        h1 Create an account
        form.form(action='/userauth' method='post')
            .alert.alert-error
            input#Name(type='text' placeholder='Name' name='Name' required='')
            input#Surname(type='text' placeholder='Surname' name='Surname' required='')
            input#Email(type='text' placeholder='Email' name='Email' required='')
            input#Password(type='text' placeholder='Password' name='Password' required='')
            
    
            input.btn.btn-block.btn-primary(type='submit')

script.
  Document.getElementById('Name').textContent = Name;
  Document.getElementById('Surname').textContent = Surname;
  Document.getElementById('Email').textContent = Email;
  Document.getElementById('Password').textContent = Password;
  

  const data = {Name, Surname, Email, Password};
  const options = {
  method: 'POST'
  headers: {
  'Content-Type': 'application/json'
  },
  body: JSON.stringify(data)
  };
  fetch('' , options)
  console.log(Name)
  console.log(Surname)
  console.log(Email)
  console.log(Password)




